<div class="wt-grid fulfillment box-hover-shipping ">
  <div class="icon-closed-fulfillment hidden-xl">x</div>
  <div class="fulfillment_timeline">
    <div class="fulfillment_timeline-wrap">
      <div class="etsy-icon-wrap">
        <div>
          <span class="etsy-icon" style="padding:3px">
            <img
              loading="eager"
              height="18"
              width="100%"
              class="img-shipping-country"
              src="{{ 'shipping-place.svg' | asset_url }}"
              alt="shipping place"
            >
          </span>
        </div>
        <div class="timeline-line pl-6">
          <div class=""></div>
        </div>
      </div>
      <p class="timeline-date timeline-current"></p>
      <span class="timeline-title"> <span>Order placed</span></span>
    </div>
  </div>
  <div class="fulfillment_timeline">
    <div class="fulfillment_timeline-wrap">
      <div class="etsy-icon-wrap">
        <div class="timeline-line pr-6">
          <div class=""></div>
        </div>
        <div>
          <span class="etsy-icon" style="padding:3px">
            <img
              loading="eager"
              height="18"
              width="100%"
              class="img-shipping-country"
              src="{{ 'shipment.svg' | asset_url }}"
              alt="shippment"
            >
          </span>
        </div>
        <div class="timeline-line pl-6">
          <div class=""></div>
        </div>
      </div>
      <p class="timeline-date timeline-ship"></p>
      <span class="timeline-title"> <span>Order ships</span></span>
    </div>
  </div>
  <div class="fulfillment_timeline">
    <div class="fulfillment_timeline-wrap">
      <div class="etsy-icon-wrap">
        <div class="timeline-line pr-6">
          <div class=""></div>
        </div>
        <div>
          <span class="etsy-icon" style="padding:3px">
            <img
              loading="eager"
              height="18"
              width="100%"
              class="img-shipping-country"
              src="{{ 'shipdelivered.svg' | asset_url }}"
              alt="shippment delivered"
            >
          </span>
        </div>
      </div>
      <p class="timeline-date timeline-delivered"></p>
      <span class="timeline-title"> <span>Delivered!</span></span>
    </div>
  </div>
  <ul class="sub-des-shipping">
    <li>Orders can be cancelled or modified within 2 hours after being placed.</li>
    <li>Canvas/ Poster/ Metal Sign: These packages cannot be delivered to a PO box.</li>
  </ul>
</div>
