<div id="wrapper-modal-confirm">
    <div class="overlay-modal-confirm"></div>
    <div class="content-modal-confirm">
      <span class="btn-closed-reorder">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"> <path d="M12 10.6L6.6 5.2 5.2 6.6l5.4 5.4-5.4 5.4 1.4 1.4 5.4-5.4 5.4 5.4 1.4-1.4-5.4-5.4 5.4-5.4-1.4-1.4-5.4 5.4z" fill="#3B4148"></path></svg>
      </span>
      <p class="title-modal-confirm">Let us help save your time!</p>
      <p class="contents-modal-confirm">
        You have a previous customization.</br>
        Do you want to auto-fill that customization?
      </p>
      <div class="action-modal">
        <button class="handle-ok-confirm-modal">Yes</button>
        <button class="handle-cancel-confirm-modal">No, Thanks</button>
      </div>
    </div>
</div>